.settings {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 88%;
  overflow-y: auto;
}

.settings p {
  width: 100%;
  margin: 0 auto;
}

.groupDescription {
  font-style: italic;
}

.groupCode {
  align-self: center;
}

.info {
  cursor: pointer;
}

.info:hover {
  color: var(--color-structure-elements);
}

.icon {
  margin-left: 0.5rem;
}
