.adminUserSettingsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  overflow-y: scroll;
}

.adminUserSettingsContainer p {
  width: 70%;
  margin: 0 auto;
  overflow-wrap: break-word;
}

.groupDescription {
  font-style: italic;
}
