.main {
  background-color: var(--color-landingpage);
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  color: var(--color-text);
}

.infoContainer {
  width: 30%;
  text-align: center;
  margin-right: 8rem;
}

.loginCTA {
  margin-top: 1rem;
}

/* Mobile*/
@media only screen and (max-width: 767px) {
  .container {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .infoContainer {
    margin-left: 0rem;
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-right: 0rem;
  }
  .loginCTA {
    display: none;
  }
}

/* Mobile landscape mode*/
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .infoContainer {
    width: 60%;
  }
}
