:root {
  --color-error: #dd2d4a;
  --color-success: #749c75;
  --color-dark: #121416;
  --color-body: #f7f4f3;
  --color-landingpage: #fdfdfd;
  --color-main: #f7e8d3;
  --color-light-dark: #20201dff;
  --color-shadow-dark: rgba(32, 32, 29, 0.1);
  --color-text: #431859;
  --color-structure-elements: #632382;
  --color-structure-elements-light: #eccdff;
  --color-hover: #822eaa;
}

:focus {
  outline: 0.2rem solid var(--color-hover);
  border-radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--color-dark);
  line-height: 1.6;
  height: 100vh;
  background-color: var(--color-body);
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-body);
  color: var(--color-dark);
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
  font-family: "Source Sans 3", sans-serif;
}

h2 {
  font-size: 1.8rem;
  font-family: "Source Sans 3", sans-serif;
}

h3 {
  font-size: 1.7rem;
  font-family: "Source Sans 3", sans-serif;
}

h4,
h5,
h6 {
  font-size: 1.6rem;
  font-family: "Source Sans 3", sans-serif;
}

p,
li {
  font-size: 1.6rem;
}

a {
  color: var(--color-structure-elements);
}

a:hover {
  color: var(--color-hover);
}

ul {
  list-style: none;
}

button,
select,
input,
textarea {
  font-family: "Nunito", sans-serif;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
label::selection,
select::selection,
input::selection,
textarea::selection,
button::selection,
p::selection,
a::selection,
ul::selection {
  background-color: var(--color-structure-elements);
  color: var(--color-body);
}

button::selection {
  background-color: var(--color-body);
  color: var(--color-structure-elements);
}

button {
  min-height: 2.4rem;
  background-image: linear-gradient(
    -180deg,
    var(--color-structure-elements) 0%,
    var(--color-hover) 100%
  );
  color: var(--color-body);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  width: 20rem;
  font-family: "Source Sans 3", sans-serif;
  box-shadow: 0 -0.25rem 1rem rgba(180, 70, 207, 1) inset,
    0 0.25rem 0.2rem 0 rgba(110, 15, 155, 1) inset;
}

button:hover {
  background-color: var(--color-hover);
  box-shadow: 0 0 0.5rem var(--color-structure-elements);
  cursor: pointer;
  transition: background-color 0.2s;
}

input,
textarea {
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: var(--color-body);
  border: 2px solid var(--color-structure-elements-light);
  border-radius: 5px;
}

input {
  height: 2.4rem;
}

::-webkit-scrollbar,
scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
  background-color: var(--color-structure-elements-light);
  border-radius: 1rem;
}

/* Mobile*/
@media only screen and (max-width: 767px) {
  header {
    /* fallback value for older browsers*/
    height: 9vh;
    height: 9svh;
  }
  main {
    padding-top: 0rem;
    height: 80vh;
    height: 86svh;
  }
  footer {
    height: 5vh;
    height: 5svh;
  }

  body {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1.7rem;
    font-family: "Source Sans 3", sans-serif;
  }

  h3 {
    font-size: 1.6rem;
    font-family: "Source Sans 3", sans-serif;
  }

  h4,
  h5,
  h6 {
    font-size: 1.5rem;
    font-family: "Source Sans 3", sans-serif;
  }
}

/* Mobile landscape mode*/
@media only screen and (max-width: 767px) and (orientation: landscape) {
  header {
    /* fallback value for older browsers*/
    height: 20vh;
    height: 20svh;
  }
  main {
    padding-top: 0rem;
    height: 61vh;
    height: 71svh;
  }
  footer {
    height: 9vh;
    height: 9svh;
  }
}

/* Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    /* fallback value for older browsers*/
    height: 7vh;
    height: 7svh;
  }
  main {
    padding-top: 0rem;
    height: 79vh;
    height: 89svh;
  }
  footer {
    height: 4vh;
    height: 4svh;
  }
}

/* Tablet landscape mode*/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  header {
    /* fallback value for older browsers*/
    height: 9vh;
    height: 9svh;
  }
  main {
    padding-top: 0rem;
    height: 76vh;
    height: 86svh;
  }
  footer {
    height: 5vh;
    height: 5svh;
  }
}

/* Laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  header {
    height: 9vh;
  }
  main {
    padding-top: 0rem;
    height: 86vh;
  }
  footer {
    height: 5vh;
  }
}

/* Larger Screens */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  header {
    height: 11vh;
  }
  main {
    height: 84vh;
  }
  footer {
    height: 5vh;
  }
}

@media only screen and (min-width: 1921px) {
  header {
    height: 6vh;
  }
  main {
    height: 59vh;
  }
  footer {
    height: 2.5vh;
  }
  body {
    width: 1920px;
    margin: 0 auto;
  }
}
