.message-container {
  align-items: center;
  flex-direction: column;
  height: 80vh;
  display: flex;
}

.chat-heading {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}
.message-form-container {
  width: 50%;
  height: 85%;
  border: 1px solid gray;
  border-radius: 1.5rem;
  position: relative;
}
.message-input-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.message-input {
  width: 90%;
  height: 10rem;
  border-radius: 1rem;
  outline: none;
  padding: 2rem;
}
.message-button {
  height: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
}
