.renderMembers {
  margin-top: 0.5rem;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.renderMembers li {
  display: flex;
  justify-content: center;
}

.adminBadge {
  margin-left: 0.5rem;
  font-weight: 900;
  color: var(--color-body);
  background-color: var(--color-error);
  border-radius: 1rem;
  padding: 0.1rem 0.4rem;
}
