.renderMembers {
  margin-top: 0.5rem;
  max-height: 40%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.adminBadge {
  margin-left: 0.5rem;
  font-weight: 900;
  color: var(--color-body);
  background-color: var(--color-error);
  border-radius: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
