.confirmationContainer {
  display: block;
}

.confirmationButtons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.confirmationButtons button {
  width: 5rem;
}
.confirmationMessage {
  white-space: nowrap;
}
