.confirmationContainer {
  display: block;
}

.confirmationButtons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.confirmationButtons button {
  width: 4rem;
  font-size: 1.2rem;
}
.confirmationMessage {
  white-space: nowrap;
  font-size: 1.2rem;
}
