/* ConfirmationDialog.module.css */

.confirmationContainer {
  display: block;
}

.confirmationButtons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.confirmationButtons button {
  width: fit-content;
  padding: 0rem 0.5rem;
  min-height: 1.6rem;
}

.confirmationMessage {
  white-space: nowrap;
}
