.circle {
  border-radius: 50%;
  background-color: var(--color-structure-elements);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.initials {
  color: var(--color-main);
  font-weight: bold;
}
