.circle {
  border-radius: 50%;
  background-color: var(--color-structure-elements);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.initials {
  color: var(--color-main);
  font-weight: bold;
}

.circle:hover {
  background-color: var(--color-hover);
  transition: background-color 0.2s;
}

.initials:hover {
  color: var(--color-main);
  background-color: var(--color-hover);
  transition: background-color 0.2s;
}
