.initialsContainer {
}

.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid var(--color-signal);
  border-radius: 50%;
}

.initials {
  font-size: 1.8rem;
  color: var(--color-signal);
  font-weight: bold;
}
