.login-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-input {
  height: 2.6rem;
  padding: 0.6rem;
}

.login-button {
  min-height: 2.6rem;
  background-color: #559cad;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  border: none;
  margin-bottom: 1rem;
}

.show-password {
  display: flex;
  align-items: center;
}

.checkbox {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0.5rem;
}

.checkbox:focus {
  outline: none;
}
