.messengerContainer {
  padding: 0.5rem;
  border: 0.2rem solid var(--color-structure-elements);
  border-radius: 10px;
  border-radius: 1rem;
  background-color: var(--color-body);
  position: relative;
  margin-left: 0.5rem;
}

.groupBar {
  height: 10%;
}

.messages {
  height: 78%;
  overflow-y: scroll;
}

.send {
  height: 8%;
}

.selectGroup {
  display: flex;
  justify-content: center;
}

/* Typing effect */
.typingIndicatorContainer {
  margin-top: 1rem;
  margin-left: 1.5rem;
  display: flex;
  gap: 0.4rem;
  justify-self: center;
  align-self: center;
}
.typingIndicator {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--color-text);
  font-weight: bold;
  margin-top: 5px;
}

/*  animation for a smoother effect */
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.typingIndicator::after {
  content: "...";
  display: inline-block;
  animation: blink 1s infinite;
}

/* Mobile*/
@media only screen and (max-width: 767px) {
  .messengerContainer {
    /* fallback value for older browsers*/
    margin-left: 0rem;
    height: 66vh;
    height: 76svh;
    width: 90vw;
  }
}

/* Mobile landscape mode*/
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .messengerContainer {
    /* fallback value for older browsers*/
    height: 51vh;
    height: 61svh;
    width: 60vw;
  }
}

/* Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .messengerContainer {
    /* fallback value for older browsers*/
    height: 69vh;
    height: 79svh;
    width: 60vw;
  }
}

/* Tablet landscape mode*/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .messengerContainer {
    /* fallback value for older browsers*/
    height: 66vh;
    height: 76svh;
    width: 60vw;
  }
}

/* Laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .messengerContainer {
    /* fallback value for older browsers*/
    height: 76vh;
    width: 60vw;
  }
}

/* Larger Screens */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .messengerContainer {
    /* fallback value for older browsers*/
    height: 74vh;
    width: 35vw;
  }
}

@media only screen and (min-width: 1921px) {
  .messengerContainer {
    /* fallback value for older browsers*/
    height: 49vh;
    width: 25vw;
  }
}
