.messengerContainer {
  overflow-y: scroll;
  padding: 0.5rem;
  border: 0.2rem solid var(--color-structure-elements);
  border-radius: 10px;
  margin-left: 1rem;
  border-radius: 1rem;
  background-color: var(--color-body);
  position: relative;
}

.groupBar {
  height: 10%;
}

.messages {
  height: 80%;
  overflow-y: scroll;
}

.send {
  height: 10%;
}

/* Mobile*/
@media only screen and (max-width: 767px) {
  .messengerContainer {
    /* fallback value for older browsers*/
    height: 66vh;
    height: 76svh;
    width: 90vw;
  }
}

/* Mobile landscape mode*/
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .messengerContainer {
    /* fallback value for older browsers*/
    height: 51vh;
    height: 61svh;
    width: 60vw;
  }
}

/* Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .messengerContainer {
    /* fallback value for older browsers*/
    height: 69vh;
    height: 79svh;
    width: 60vw;
  }
}

/* Tablet landscape mode*/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .messengerContainer {
    /* fallback value for older browsers*/
    height: 66vh;
    height: 76svh;
    width: 60vw;
  }
}

/* Laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .messengerContainer {
    /* fallback value for older browsers*/
    height: 76vh;
    width: 60vw;
  }
}

/* Larger Screens */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .messengerContainer {
    /* fallback value for older browsers*/
    height: 74vh;
    width: 35vw;
  }
}

@media only screen and (min-width: 1921px) {
  .messengerContainer {
    /* fallback value for older browsers*/
    height: 49vh;
    width: 25vw;
  }
}
