.groupsList {
  height: 75vh;
  overflow-y: scroll;
  padding: 0.5rem;
  border: 0.2rem solid var(--color-structure-elements);
  border-radius: 10px;
  position: relative;
  background-color: var(--color-body);
}

.groupContainer {
  overflow-y: scroll;
  height: 90%;
}

.groupBar {
  border-top: 0.25rem solid var(--color-structure-elements);
}

/* Mobile*/
@media only screen and (max-width: 767px) {
  .groupsList {
    /* fallback value for older browsers*/
    height: 66vh;
    height: 76svh;
    width: 90vw;
  }
}

/* Mobile landscape mode*/
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .groupsList {
    /* fallback value for older browsers*/
    height: 51vh;
    height: 61svh;
    width: 60vw;
  }
}

/* Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .groupsList {
    /* fallback value for older browsers*/
    height: 69vh;
    height: 79svh;
    width: 60vw;
  }
}

/* Tablet landscape mode*/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .groupsList {
    /* fallback value for older browsers*/
    height: 66vh;
    height: 76svh;
    width: 25vw;
  }
}

/* Laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .groupsList {
    /* fallback value for older browsers*/
    height: 76vh;
    width: 20vw;
  }
}

/* Larger Screens */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .groupsList {
    /* fallback value for older browsers*/
    height: 74vh;
    width: 15vw;
  }
}

@media only screen and (min-width: 1921px) {
  .groupsList {
    /* fallback value for older browsers*/
    height: 49vh;
    width: 8vw;
  }
}
