.loginForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20rem;
}
.passwordContainer {
  display: flex;
}

.togglePasswordIcon {
  cursor: pointer;
  margin-left: -2rem;
  margin-top: 0.5rem;
}

.checkbox:focus {
  outline: none;
}
