.leaveGroupContainer {
  margin-top: 1rem;
  margin-bottom: 5rem;
  position: relative;
}
.confirmationDialog {
  position: absolute;
  top: 100%; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  z-index: 1; /* Ensure it appears above other elements */
}
