<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>chat</title>
    <script defer src="http://localhost:3001/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
  </head>
  <body>
    <div id="message-contanier">
      <form id="send-container">
        <input type="text" name="" id="message-input" />
        <button type="submit" id="send-button">Send</button>
      </form>
    </div>
  </body>
</html>
