.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 10vh;
  background-color: var(--color-structure-elements);
  position: fixed;
  position: static;
}

.header a {
  text-decoration: none;
}
