.header {
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.loggedInHeader {
  background-image: linear-gradient(
    -180deg,
    var(--color-structure-elements) 0%,
    var(--color-hover) 100%
  );
  color: var(--color-body);
}

.notLoggedInHeader {
  background-color: var(--color-landingpage);
}

.header a {
  text-decoration: none;
  color: var(--color-main);
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0.3rem;
  font-family: "Source Sans 3", sans-serif;
}

.loggedInHeader a:hover {
  color: var(--color-body);
}

.loggedInHeader a::selection {
  background-color: var(--color-body);
  color: var(--color-structure-elements);
}

.loggedInHeader a:focus,
.loggedInHeader .logo:focus {
  outline: 0.2rem solid var(--color-main);
  border-radius: 1rem;
}

.notLoggedInHeader a {
  color: var(--color-structure-elements);
}

.notLoggedInHeader a:hover {
  color: var(--color-hover);
}

.notLoggedInHeader a:focus,
.notLoggedInHeader .logo:focus {
  outline: 0.2rem solid var(--color-hover);
  border-radius: 1rem;
}

/* Firefox mobile with keyboard and other very small screens*/
@media only screen and (max-height: 500px) {
  .header a {
    padding: 0.1rem;
  }
}

/* Mobile*/
@media only screen and (max-width: 767px) {
  .header a {
    padding: 0.2rem;
  }
}

/* Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header a {
    padding: 0.3rem;
  }
}
