.renderMembers {
  margin-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.member {
  width: fit-content !important;
  border-bottom: 0.2rem solid var(--color-structure-elements-light);
  margin: 0 auto;
}
.info {
  margin-bottom: 1rem;
}

.adminBadge {
  margin-left: 0.5rem;
  font-weight: 900;
  color: var(--color-body);
  background-color: var(--color-error);
  border-radius: 1rem;
  padding: 0.1rem 0.3rem;
  box-shadow: 0 0.2rem 0.4rem var(--color-shadow-dark),
    0 0.3rem 0.6rem var(--color-shadow-dark);
}

.spinner {
  display: flex;
  justify-content: center;
}

.userActions {
  display: flex;
  justify-content: center;
}
