.renderMembers {
  margin-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.member {
  border-bottom: 2px dotted var(--color-shadow-dark);
}
.adminBadge {
  margin-left: 0.5rem;
  font-weight: 900;
  color: var(--color-body);
  background-color: var(--color-error);
  border-radius: 1rem;
  padding: 0.1rem 0.4rem;
}

.spinner {
  display: flex;
  justify-content: center;
}

.userActions {
  display: flex;
  justify-content: center;
}
