.logo {
  display: flex;
  align-items: center;
  border-radius: 10px;
}

/* Mobile*/
@media only screen and (max-width: 767px) {
  .logo {
    width: 8rem;
  }
}

/* Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 9rem;
  }
}

/* Laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .logo {
    width: 9rem;
  }
}

/* Larger Screens */
@media only screen and (min-width: 1441px) {
  .logo {
    width: 11rem;
  }
}
