.groupInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.2rem solid var(--color-structure-elements);
  border-radius: 1rem;
  background-color: var(--color-structure-elements-light);
  width: 25rem;
  margin-left: 0.5rem;
  height: 5rem;
}

.infos {
  margin-right: 0.5rem;
  overflow-x: hidden;
  line-height: 1.1;
}

.infos p {
  font-size: 1.4rem;
  padding-left: 0.2rem;
  white-space: nowrap;
}

.initial {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
