.hamburgerMenu {
  position: relative;
  background-color: var(--color-structure-elements);
}

.menuIcon {
  display: block;
  cursor: pointer;
}

.menuItems {
  position: absolute;
  right: 0;
  width: 13rem;
  background-color: var(--color-hover);
  padding: 0.5rem;
  border-radius: 10px;
  text-align: right;
}

.menuItems a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--color-main);
  transition: background-color 0.2s;
  font-family: "Source Sans 3", sans-serif;
}

.menuItems a:hover {
  background-color: var(--color-structure-elements-light);
  box-shadow: 0px 0px 0.5rem var(--color-hover);
  color: var(--color-structure-elements);
}

.menuItems a:active {
  outline: 0.2rem solid var(--color-hover);
  border-radius: 0px;
}
