.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-structure-elements);
  color: var(--color-main);
  z-index: 999;
}

/* Mobile*/
@media only screen and (max-width: 767px) {
  .footer {
    height: 5vh;
  }
}

/* Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}
.footer {
  height: 5vh;
}

/* Laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
}
.footer {
  height: 5vh;
}

/* Larger Screens */
@media only screen and (min-width: 1441px) {
}
.footer {
  height: 5vh;
}
