.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-structure-elements);
  color: var(--color-main);
  z-index: 999;
  height: 10vh;
}
