.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: var(--color-structure-elements);
  color: var(--color-main);
  z-index: 999;
  position: static;
  font-family: "Source Sans 3", sans-serif;
}

.footer p::selection {
  background-color: var(--color-body);
  color: var(--color-structure-elements);
}
