.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.getStartedCta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messengerNotMobile {
  display: flex;
  flex-direction: row;
}
