.groupCreationForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 25rem;
}

.groupCreationForm button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.groupCreationForm textarea {
  width: 24rem;
  gap: 0.5rem;
}
