.barContainer {
  width: 100%;
  border-bottom: 0.25rem solid var(--color-structure-elements);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
}

.groupName {
  color: var(--color-text);
  margin-right: 1rem;
  overflow-x: hidden;
}

.mobileHome {
  width: 3rem;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.barContainer h2 {
  color: var(--color-text);
}
