.messageContainer {
  height: 75vh;
  overflow-y: scroll;
  padding: 1rem;
  border: 0.5rem solid var(--color-structure-elements);
  border-radius: 10px;
  margin-left: 1rem;
  border-radius: 1rem;
  background-color: var(--color-structure-elements-light);
}

.messages {
}

.messageContainer button {}