.registrationForm {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20rem;
}

.checkbox {
  height: 1.4rem;
  width: 1.4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.passwordContainer {
  display: flex;
}

.togglePasswordIcon {
  cursor: pointer;
  margin-left: -2rem;
  margin-top: 0.5rem;
}

.checkbox:focus {
  outline: none;
}
