.message {
  width: 70%;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.deletedMessage {
  font-style: italic;
}

.sender {
  display: flex;
  gap: 0.5rem;
  font-weight: 900;
  flex-direction: row;
  justify-content: space-between;
}
.senderInfo {
  display: flex;
  align-items: center;
}

.username {
  margin-left: 0.5rem;
}

.date {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: end;
}

.senderMessage {
  background-color: var(--color-main);
  align-self: flex-end;
}

.receiverMessage {
  background-color: var(--color-structure-elements-light);
  align-self: flex-start;
}
