.barContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.groupCode,
.toggleText {
  color: var(--color-text);
  white-space: nowrap;
  font-weight: 900;
  cursor: pointer;
}
