.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 300px;
  padding: 2rem;
  position: relative;
  border: 1px solid gray;
}
h1 {
  margin-bottom: 2rem;
}

.message-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 2rem;
  gap: 0.5rem;
}
.input-message {
  height: 60px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}
button {
  height: 25px;
  padding: 0 2rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: orangered;
  color: white;
  font-weight: bold;
}
