.sendMessageContainer input {
  width: 100%;
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.sendMessageLine {
  border-top: 0.25rem solid var(--color-structure-elements);
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.sendMessageButton {
  transform: translateY(-0.7rem);
}

/* Typing effect */

.typingIndicator {
  font-size: 2rem;
  color: #999; /* Adjust the color as needed */
  margin-top: 5px;
}

/*  animation for a smoother effect */
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.typingIndicator::after {
  content: "...";
  display: inline-block;
  animation: blink 1s infinite;
}
