.sendMessageContainer input {
  width: 100%;
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.sendMessageLine {
  display: flex;
  flex-direction: row;
}

.sendMessageButton {
  transform: translateY(-0.7rem);
}
