.messagesContainer {
  height: 55vh;
  display: flex;
  flex-direction: column;
}

.message {
  width: 70%;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.date {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: end;
}

.sender {
  display: flex;
  gap: 0.5rem;
}

.senderMessage {
  background-color: var(--color-main);
  align-self: flex-end;
}

.receiverMessage {
  background-color: var(--color-structure-elements-light);
  align-self: flex-start;
}
