.message {
  width: 80%;
  background-color: var(--color-main);
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
}

.date {
  font-size: 1.1rem;
  text-align: right;
}

.sender {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
