.online,
.offline {
  font-size: 2rem;
  color: var(--color-success);
  gap: 0.3rem;
  display: flex;

  font-weight: 100;
}
.onlineIcon {
  color: var(--color-success);
}

span {
  font-size: 1.4rem;
  margin-top: 0;
}

.offlineIcon {
  color: var(--color-error);
}

.offline {
  color: var(--color-error);
}
