.container {
  position: relative;
}

.groupCodeContainer {
  display: flex;
  align-items: center;
}

.groupCode {
  margin-right: 0.5rem;
}

.icon {
  cursor: pointer;
}

.feedbackMessage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(120%);
  display: inline-block;
}
