.container {
  width: 30%;
  display: flex;
  justify-content: center;
}

.container img {
  width: 100%;
}

/* Mobile*/
@media only screen and (max-width: 767px) {
  .container {
    align-items: flex-start;
    justify-content: center;
    width: 60%;
  }
  .container img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
}

/* Mobile landscape mode*/
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .container {
    width: 25%;
  }
  .container img {
    width: 100%;
    border-radius: 1rem;
  }
}
